body{
    font-family:PolySans, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0;
    padding: 0;
    /* color: red; */
}
html{
    scroll-behavior: smooth;
}
.gap-x{
    padding: 0 70px;
}
.header-wrapper{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    /* width: 100%; */
}
.header-access a{
    text-decoration: none;
    background-color: #090b4c;
    color: white;
    padding: 10px 20px;
    padding-bottom: 14px;
    border-radius: 10px;
    font-weight: bold;
}
.logo{
    width: 150px;
}
.block-2{
    /* position: absolute; */
    width: 100%;
    /* height: 100vh; */
    background: linear-gradient(180deg,#3a51e9,#3a51e9 47.59%,#3a4fe8);
}
.b2-h1{
    color: white;
    font-weight: bold;
    font-size: 70px;
    margin: 0;
    line-height: 1;
}
.block-2-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.block-2-img{
    width: 50%;
    height: 100%;
}
.block-2-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.2);
}
.form{
    display: flex;
}
.input{
    border-radius: 8px;
    margin-right: 10px;
    padding: 16px 0;
    padding-left: 15px;
    background: rgba(62,100,246,.4);
    border: 1px solid rgba(207,213,235,.5);
    outline: none;
    color: #fff;
    width: 16em;
}
.input::placeholder{
    color: #fff;
    font-size: 17px;
}
.input-access{
    text-decoration: none;
    background-color: #090b4c;
    color: white;
    padding: 10px 10px;
    padding-bottom: 14px;
    border-radius: 10px;
    font-weight: bold;
    z-index: 1;
    border: 0 solid;
    width: 100%;
    font-size: 16px;
}
.block-2-p{
    margin-top: 36px;
    color: #fff;
    font-size: 19px;
    max-width: 25em;
    line-height: 1.5;
}
.block-3{
    background-color: #fafaff;
}
.block-3-main{
    display: flex;
    padding-top: 5em;
}
.block-3-main .block-3-img{
    width: 50%;
    text-align: center;
}
.block-3-main .block-3-img img{
    width: 100%;
}
.block-3-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16px;
}
.b3-h1{
    font-size: 50px;
    line-height: 1px;
    color:#111646;
    font-weight: 500;
    font-size: 40px;
    line-height: 12px;
}
.block-3-p{
    padding-top: 0;
    font-size: 17px;
    color: grey;
    line-height: 2rem;
    letter-spacing: .025em;
    text-align: left;
}
.b3-h1-wrapper{
    text-align: left;
}
.block-4{
    background-color: #12142f;
}
.vision{
    padding-top: 30px;
}
.vision h1{
    text-align: center;
    font-size: 8em;
    line-height: 1;
    color: #fff;
}
.vision-img{
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
}
.vision-img .vision-img-2{
    margin-left: 30px;
    width: 100%;
}
.vision-text-2{
    text-align: center;
   color: #fff;
   display: block;
   padding: 6%;
}
text-2-1{
    max-width: 20em;

}
.vision-img-1{
    margin-top: 5em;
    position: absolute;
    width: 32vw;
    margin-left: 50px;
}
.vision-img-1 img{
    width: 100%;
}
.vision-img-2{
    margin-top: 5em;
    position: absolute;
    width: 25vw;
    right: 10em;
}
.vision-img-2 img{
    width: 100%;
}
.vision-text-2 {
    line-height: 50px;
    font-size: 30px;
}
@media(max-width:1024px){
    .vision-img-1{
        left: -100px;
        margin-left:0;
    }
    .vision-img-2{
        right: 0px;
        margin-right:0;
    }
    .block-2-main{
        flex-direction: column;
        align-items: center;
    }
    .block-2-img{
        width: 100%;
    }
    .block-2-text{
        margin-top: 8em;
    }
    .block-2-img img{
        transform: scale(1);
    }
    .block-3-main{
        display: block;
        text-align: center;
    }
    .block-3-main .block-3-img{
        width: 100%;
    }
    .block-3-main .block-3-img img{
        width: 60%;
    }
    .block-3-text{
        width: 100%;
    }
}
@media(max-width:768px){
    .gap-x{
        padding: 0 30px;
    } 
    .b2-h1{
        font-size: 60px;
    }
    
}
@media(max-width:576px){
    .vision-img-1{
        left: -4    0px;
        margin-left:0;
    }
    .gap-x{
        padding: 0 10px;
    } 
    .header-access a{
        font-size: 10px;
    }
    .b2-h1{
        font-size: 50px;
    }
    .block-2-main{
        align-items: flex-start;
    }
    .block-2-img img{
        object-fit: contain;
    }
    .form{
        display: block;
    }
    .input{
        width: 95%;
        padding: 20px 15px;
        padding-right: 0;
        margin-top: 10px;
        /* display: block; */
    }
    .input-access{
        display: block;
        text-align: center;
        margin-top: 20px;
        padding: 20px;
    }
    .b3-h1{
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
        line-height: 35px;
    }
}

#message {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #e0e9fc;
  color: #05640e;
  border-left: 5px solid #33cc77;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  display: none; /* hidden by default */
  transition: all 0.s ease-in-out;
}

#message.show {
  display: block;
  animation: popIn 0.4s ease-out;
}

@keyframes popIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

